extends layout

block content
  h1 Choose Image
  form(action='/image/upload', enctype='multipart/form-data', method='post')
    input(type='file', name='image', accept='image/*')
    br
    br
    input(type='submit', name='uploadimage', value='Upload')
    p= message
    img(src= imagePath)
